#server相关配置
server:
  tomcat:
    uri-encoding: UTF-8
#jwt相关配置
jwt:
  #过期时间，单位毫秒，2小时
  expiresMillSecond: 7200000
#mybatis相关配置
mybatis-plus:
  global-config:
    db-config:
      table-prefix: np_
      id-type: auto
  mapper-locations: classpath:/mappers/*.xml
  type-enums-package: me.wuwenbin.notepress.api.constants.enums
  configuration:
    default-enum-type-handler: com.baomidou.mybatisplus.extension.handlers.MybatisEnumTypeHandler
logging:
  level:
    me.wuwenbin.notepress.service.mapper: DEBUG

#spring相关配置
spring:
  application:
    name: NotePress
  profiles:
    active: notepress
  http:
    encoding:
      force: true
      enabled: true
      charset: UTF-8
  servlet:
    multipart:
      max-file-size: 100MB
  jackson:
    date-format: yyyy-MM-dd HH:mm:ss
    time-zone: GMT+8
  cache:
    type: ehcache
    ehcache:
      config: ehcache/ehcache.xml
  data:
    mongodb:
      database: np_sys_session
      host: 127.0.0.1
      port: 27017